/* ----------------- Conteneur général ----------------- */
.projects-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--bg-main);
  padding-top: 55px;
  padding-bottom: 4rem;
  width: 100%;
}

.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----------------- Titre ----------------- */
.projects-title {
  font-size: 2.5rem;
}

/* ----------------- Filtres ----------------- */
.projects-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  margin-bottom: 2rem;
}

.project-filter-btn {
  background-color: var(--accent-lavender);
  color: var(--text-main);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.project-filter-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.project-filter-btn.active {
  color: var(--accent-lavender);
  border: 1px solid var(--accent-lavender);
}

/* ----------------- Grille des projets (Flex) ----------------- */
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin: 1.5rem;
}

/* ----------------- Carte projet ----------------- */
.project-card-wrapper {
  flex: 0 0 calc(33.333% - 2rem);
  max-width: calc(33.333% - 2rem);
}

.project-card {
  position: relative;
  width: 100%;
  min-height: 150px;
  overflow: hidden;
  border-radius: 1.5rem;
  cursor: pointer;
  background-color: #464749;
  box-shadow: 0 8px 16px rgba(12, 12, 12, 0.829);
  transition: transform 0.3s ease;
}


.project-card:hover {
  transform: translateY(-5px);
}

.project-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay sombre */
.project-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  border-radius: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-card:hover .project-overlay {
  opacity: 2;
  transform: translateY(-3px);
}

/* Texte overlay */
.project-overlay h3 {
  font-size: 1.2rem;
}

.project-overlay p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

/* ----------------- Modale ----------------- */
.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  padding: 1rem;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  max-width: 300px;
  height: 50%;
  padding: 2rem;
  margin: 2rem;
  border-radius: 1.5rem;
  position: relative;
  background-color: #343536;
  color: var(--text-main);
  font-family: var(--font-main);
}

.project-link {
  color: var(--accent-lavender);
}

@media (max-width: 1024px) {
  .project-card-wrapper {
    flex: 0 0 calc(50% - 2rem);
    max-width: calc(50% - 2rem);
  }
}

@media (max-width: 600px) {
  .project-card-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
  }
}