/* ===== Structure générale de la section About ===== */
/* ----------------- Section About ----------------- */
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #464749;
  color: #f9fafb;
  padding-top: 65px;   /* espace navbar + descente */
  padding-bottom: 3rem; /* espace sous la section */
  width: 100%;
}

.about-container {
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-inline: 1rem;
}

/* Titre */
.about-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
}

/* Texte */
.about-intro,
.about-conclusion {
  text-align: center;
  line-height: 1.6;
  max-width: 55rem;
  margin: 0.2rem auto 0 auto;
  font-size: 1.2rem;
  color: #e5e7eb;
}

/* Carte */
.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 0.2rem;
  padding: 2rem;
  width: 100%;
  max-width: 70rem;
  border-radius: 1.5rem;
  background-color: #343536;
  box-shadow: 0 4px 8px rgb(255, 252, 252);
}

.about-card h3 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.about-card ul {
  list-style-position: inside;
  padding-left: 0;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  color: #e5e7eb;
}

/* ----------------- Media Queries ----------------- */
/* Desktop réduit / tablette */
@media (max-width: 1024px) {
  .about-title { font-size: 2rem; }
  .about-card { padding: 1.5rem; }
  .about-card h3 { font-size: 1.5rem; }
}

/* tablette */
@media (max-width: 768px) {
 .about-title { font-size: 1.4rem; }
  .about-intro, .about-conclusion { font-size: 0.9rem; }
  .about-card { padding: 1rem; }
  .about-card h3 { font-size: 1rem; }
  .about-card ul { font-size: 0.85rem; }
}

/* Mobile */
@media (max-width: 480px) {
  .about-title { font-size: 1.4rem; }
  .about-intro, .about-conclusion { font-size: 0.9rem; }
  .about-card { padding: 0.6rem; }
  .about-card h3 { font-size: 1rem; }
  .about-card ul { font-size: 0.85rem; }
}


