/* ----------------- Conteneur général ----------------- */
.timeline-section {
  position: relative;
  /* chaque section prend la hauteur de l'écran */
  padding-top: 65px;
  /* espace pour navbar */
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* ----------------- Conteneur interne ----------------- */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* ----------------- Titre ----------------- */
.timeline-title {
  font-size: 2.5rem;
}

/* ----------------- Timeline Cards ----------------- */
.timeline-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.timeline-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
}

.timeline-year {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.timeline-title-card {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.timeline-company {
  margin-bottom: 0.9rem;
}

.timeline-btn {
  background-color: var(--accent-lavender);
  color: var(--bg-main);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.timeline-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* ----------------- Modale ----------------- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  max-width: 600px;
  width: 90%;
  padding: 2rem;
  border-radius: 1rem;
  overflow-y: auto;
  position: relative;
  background-color: #464749;
  color: var(--text-main);
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  background: transparent;
  color: var(--text-main);
}

.modal-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.modal-content p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* ----------------- CV bouton ----------------- */
.timeline-cv {
  text-align: center;
  margin-top: 2rem;
}

.timeline-cv a {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s ease;
  color: var(--accent-lavender);
  border: 1px solid var(--accent-lavender);
}

.timeline-cv a:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* ----------------- Responsive ----------------- */
@media (max-width: 1024px) {
  .timeline-card {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .timeline-card {
    width: 45%;
    margin: 0.5rem;
  }
}

@media (max-width: 480px) {
  .timeline-card {
    width: 90%;
  }

  .timeline-title {
    font-size: 1.8rem;
  }
}

@media (max-width: 360px) {
  .timeline-card {
    width: 100%;
  }

  .timeline-title {
    font-size: 1.5rem;
  }
}